<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>

    <script>
    function deleteResource(user, uid){
        const Http = new XMLHttpRequest();
        const url='http://localhost:8080/resources/'+user+'/'+uid;
        Http.open("DELETE", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
            location.reload();
        }
    }
    </script>


</head>
<body>
    <!-- Create, Delete, List resources -->
    <div>
        <span>Resources for {{ user }} | Total: {{ used }}/{{ quota }}</span>
        <form action="/resources/{{user}}" method="post">
            <button type="submit">Add New Resource</button>
        </form>

        <table>
            <tr>
                <td>
                    Resource Number
                </td>
                <td>
                    | Unique ID
                </td>
                <td>
                    | Delete Resource
                </td>
            </tr>

            {% for item in resources %}
                <tr>
                    <td>
                        {{ loop.index0 }}
                    </td>
                    <td>
                        | {{ item }}
                    </td>
                    <td>
                        <button onclick="deleteResource('{{user}}', '{{item}}')">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

</body>
</html>


